<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jishen_W1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{1365,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{1239,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{1113,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{987,0},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,131}</string>
                <key>spriteSourceSize</key>
                <string>{126,131}</string>
                <key>textureRect</key>
                <string>{{861,0},{126,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{735,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{609,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{483,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jishen_W9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{357,0},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1743,0},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jishen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,133}</string>
                <key>spriteSourceSize</key>
                <string>{126,133}</string>
                <key>textureRect</key>
                <string>{{1617,0},{126,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jishen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,133}</string>
                <key>spriteSourceSize</key>
                <string>{126,133}</string>
                <key>textureRect</key>
                <string>{{1491,0},{126,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jitou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{249,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jitou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{97,89}</string>
                <key>textureRect</key>
                <string>{{152,0},{97,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{76,0},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>airplane.png</string>
            <key>size</key>
            <string>{1832,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b37b85c34edb241b07489089d449cfdf:2f28297c33a0ecd4aa4c2cb12237376e:ebc7c67694ccc0ae13f111bc75ae071e$</string>
            <key>textureFileName</key>
            <string>airplane.png</string>
        </dict>
    </dict>
</plist>
