<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{92,71}</string>
                <key>textureRect</key>
                <string>{{608,169},{92,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{354,1},{66,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bR_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{354,181},{66,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bY_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{422,1},{66,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{822,149},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,227}</string>
                <key>spriteSourceSize</key>
                <string>{167,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{822,1},{87,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{633,1},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{702,121},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icmain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{534,169},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{166,141}</string>
                <key>textureRect</key>
                <string>{{490,1},{166,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{753,1},{59,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{822,90},{69,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{753,62},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{196,202},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,182}</string>
                <key>spriteSourceSize</key>
                <string>{199,182}</string>
                <key>textureRect</key>
                <string>{{170,1},{199,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{170,202},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,55}</string>
                <key>spriteSourceSize</key>
                <string>{31,55}</string>
                <key>textureRect</key>
                <string>{{288,202},{31,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{906,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47fe625eb4c74a3282b893760fe56c34:ded4bd973422872395acc4167d608a24:96a79c1f56aed6ca76f40cddb46cd636$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
