<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{197,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{141,0},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{105,0},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,60}</string>
                <key>spriteSourceSize</key>
                <string>{13,60}</string>
                <key>textureRect</key>
                <string>{{92,0},{13,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{56,0},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldAnim.png</string>
            <key>size</key>
            <string>{257,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f1b0617706cc6e9f5bf7015ab648476:daf9334c32d5df6327865ea6618de544:fb67e6d378d4f700ac190571fe6e40ec$</string>
            <key>textureFileName</key>
            <string>goldAnim.png</string>
        </dict>
    </dict>
</plist>
