<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1760,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1540,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1320,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1100,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{880,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{660,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{440,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dot.png</string>
            <key>size</key>
            <string>{1980,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fdf39aaa2d717787d6d11b1d1a3318d:888c81372559e1b003224c29bca8aadb:4a47325be1cc8095430e8dabd9a662ab$</string>
            <key>textureFileName</key>
            <string>dot.png</string>
        </dict>
    </dict>
</plist>
