<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{143,95}</string>
                <key>textureRect</key>
                <string>{{176,339},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{0,339},{176,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,185}</string>
                <key>spriteSourceSize</key>
                <string>{202,185}</string>
                <key>textureRect</key>
                <string>{{1721,0},{202,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,210}</string>
                <key>spriteSourceSize</key>
                <string>{214,210}</string>
                <key>textureRect</key>
                <string>{{1507,0},{214,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,224}</string>
                <key>spriteSourceSize</key>
                <string>{231,224}</string>
                <key>textureRect</key>
                <string>{{1276,0},{231,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,257}</string>
                <key>spriteSourceSize</key>
                <string>{266,257}</string>
                <key>textureRect</key>
                <string>{{1010,0},{266,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,298}</string>
                <key>spriteSourceSize</key>
                <string>{310,298}</string>
                <key>textureRect</key>
                <string>{{700,0},{310,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,339}</string>
                <key>spriteSourceSize</key>
                <string>{350,339}</string>
                <key>textureRect</key>
                <string>{{350,0},{350,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,339}</string>
                <key>spriteSourceSize</key>
                <string>{350,339}</string>
                <key>textureRect</key>
                <string>{{0,0},{350,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deathAnim.png</string>
            <key>size</key>
            <string>{1923,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e4949996e50839bb22664b9699efdda:cadfcb405ec1f3636125121853af41df:adbdf70d6e4f62e6bab6dd292aa438f3$</string>
            <key>textureFileName</key>
            <string>deathAnim.png</string>
        </dict>
    </dict>
</plist>
