<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,161}</string>
                <key>spriteSourceSize</key>
                <string>{46,161}</string>
                <key>textureRect</key>
                <string>{{184,212},{46,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,161}</string>
                <key>spriteSourceSize</key>
                <string>{46,161}</string>
                <key>textureRect</key>
                <string>{{138,212},{46,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,161}</string>
                <key>spriteSourceSize</key>
                <string>{46,161}</string>
                <key>textureRect</key>
                <string>{{92,212},{46,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,161}</string>
                <key>spriteSourceSize</key>
                <string>{46,161}</string>
                <key>textureRect</key>
                <string>{{46,212},{46,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da01_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,142}</string>
                <key>spriteSourceSize</key>
                <string>{46,142}</string>
                <key>textureRect</key>
                <string>{{0,212},{46,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da02_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,142}</string>
                <key>spriteSourceSize</key>
                <string>{46,142}</string>
                <key>textureRect</key>
                <string>{{151,70},{46,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da03_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,142}</string>
                <key>spriteSourceSize</key>
                <string>{46,142}</string>
                <key>textureRect</key>
                <string>{{105,70},{46,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da04_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,142}</string>
                <key>spriteSourceSize</key>
                <string>{46,142}</string>
                <key>textureRect</key>
                <string>{{59,70},{46,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db01_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db02_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{118,0},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db03_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db04_RS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{230,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e12882367927b85f5dabb4240c635c81:344d07f3b4687707458f71ed63e226cf:e66248eae933b66f13da2e0bb59663f2$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
