<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{92,71}</string>
                <key>textureRect</key>
                <string>{{79,248},{92,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{1053,29},{66,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bR_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{1121,29},{66,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bY_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,178}</string>
                <key>spriteSourceSize</key>
                <string>{84,184}</string>
                <key>textureRect</key>
                <string>{{1189,29},{66,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,163}</string>
                <key>spriteSourceSize</key>
                <string>{245,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,163}</string>
                <key>spriteSourceSize</key>
                <string>{245,163}</string>
                <key>textureRect</key>
                <string>{{166,1},{245,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,186}</string>
                <key>spriteSourceSize</key>
                <string>{232,186}</string>
                <key>textureRect</key>
                <string>{{331,1},{232,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,80}</string>
                <key>spriteSourceSize</key>
                <string>{451,80}</string>
                <key>textureRect</key>
                <string>{{343,235},{451,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{796,227},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{279,248},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,227}</string>
                <key>spriteSourceSize</key>
                <string>{167,227}</string>
                <key>textureRect</key>
                <string>{{519,1},{167,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{1094,329},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{194,248},{87,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1094,209},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1214,209},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icmain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{1429,29},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icnBg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1257,29},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{166,141}</string>
                <key>textureRect</key>
                <string>{{926,213},{166,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1429,162},{59,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icvideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{77,60}</string>
                <key>textureRect</key>
                <string>{{1334,201},{77,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{1429,103},{69,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1413,256},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relife_timeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1334,263},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,76}</string>
                <key>textureRect</key>
                <string>{{1,248},{107,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{152,248},{90,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,224}</string>
                <key>spriteSourceSize</key>
                <string>{162,224}</string>
                <key>textureRect</key>
                <string>{{688,1},{162,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueTiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,18}</string>
                <key>spriteSourceSize</key>
                <string>{641,18}</string>
                <key>textureRect</key>
                <string>{{152,340},{641,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueTiaoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,26}</string>
                <key>spriteSourceSize</key>
                <string>{651,26}</string>
                <key>textureRect</key>
                <string>{{852,1},{651,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,182}</string>
                <key>spriteSourceSize</key>
                <string>{199,182}</string>
                <key>textureRect</key>
                <string>{{852,29},{199,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{1168,329},{24,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,55}</string>
                <key>spriteSourceSize</key>
                <string>{31,55}</string>
                <key>textureRect</key>
                <string>{{1413,223},{31,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{1504,359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0aa71ddb9d1f16a97919f6660d83cff:750444f902dd0d76ddb94afc861b0f44:96a79c1f56aed6ca76f40cddb46cd636$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
