<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{0,652},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,303}</string>
                <key>spriteSourceSize</key>
                <string>{666,303}</string>
                <key>textureRect</key>
                <string>{{0,12},{666,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,12}</string>
                <key>spriteSourceSize</key>
                <string>{256,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,337}</string>
                <key>spriteSourceSize</key>
                <string>{798,337}</string>
                <key>textureRect</key>
                <string>{{110,315},{798,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,51}</string>
                <key>spriteSourceSize</key>
                <string>{17,51}</string>
                <key>textureRect</key>
                <string>{{93,315},{17,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{93,91}</string>
                <key>textureRect</key>
                <string>{{0,315},{93,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{794,12},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,74}</string>
                <key>spriteSourceSize</key>
                <string>{77,74}</string>
                <key>textureRect</key>
                <string>{{717,12},{77,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{666,12},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{908,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b196b9ee824e61408780aac5f3aabee0:10eb4ffd7bf235f2359cf3030c25eba5:7bd1473ac80b070b79b0bec2e8be0033$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
