<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{121,1},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{182,1},{69,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{213,60},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{121,70},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{268,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce9c2d5c2bef3db384a7fd10d12b8a6f:51feb9d85d39c99fbc33eb6113371233:96a79c1f56aed6ca76f40cddb46cd636$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
